<%- include('templates/header') %>

<h1>Sign Up</h1>

<% if (errorMessage) { %>
  <p style="color:red"><%= errorMessage %></p>
<% } %>

<form method="post">
  <input name="username" type="text" placeholder="Username" required><br>
  <input name="email" type="email" placeholder="Email" required><br>
  <input name="password" type="password" placeholder="Password" required><br>
  <button>Sign Up</button>
</form>

<p><a href="/">Home</a></p>

<%- include('templates/footer') %>